.container{ 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap:1rem; 
    background-color: black;
} 
.item1{ 
    width: 100px; 
    height: 100px; 
    background-color: rgb(0, 255, 42); 
    border: 1px solid; 
} 
.item2{ 
    width: 100px; 
    height: 100px; 
    background-color:rgb(255, 0, 183); 
    border: 1px solid; 
} 
.item3{ 
    width: 100px; 
    height: 100px; 
    background-color: orangered; 
    border: 1px solid; 
} 
.item4{ 
    width: 100px; 
    height: 100px; 
    background-color:rgb(53, 0, 245); 
    border: 1px solid; 
} 
@media screen and (max-width:768px) { 
    .container{ 
        display: grid; 
        grid-template-columns: auto auto; 
        gap: 1rem 1rem; 

    } 
} 
@media screen and (max-width:320px) { 
    .container{ 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    } 
}    