.container {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 700px;
    gap: 60px;
}

.box1 {
    border: 2px dotted;
    width: fit-content;
    position: static;
    display: flex;
    gap: 10px;
    text-align: center;

}

.item1 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.item2 {
    width: 100px;
    height: 100px;
    background-color: green;
}

.item3 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.item4 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.box2 {
    border: 2px dotted;
    width: fit-content;
    display: flex;
    gap: 10px;
    text-align: center;

}

.item5 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.item6 {
    width: 100px;
    height: 100px;
    position: relative;
    top: 20px;
    left: 40px;
    background-color: green;
}

.item7 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.item8 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.box3 {
    border: 2px dotted;
    width: fit-content;
    position: static;
    display: flex;
    gap: 10px;
    text-align: center;
}

.item9 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.item10 {
    position: absolute;
    top: 350px;
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: green;
}

.item11 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.item12 {
    width: 100px;
    height: 100px;
    background-color: red;
}