.container{
    display: grid;
    background-color: #000000;
    gap: 15px;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 100px 150px 150px 100px;
    text-align: center;
    border: 15px solid #000000;
    color: white;
    font-style: bold;
}

.item1{
    background-color: rgb(85, 85, 184);;
    grid-column: 1/4;
}

.item2{
    background-color: rgb(47, 255, 200);
    grid-row: 2/4;
}

.item3{
    background-color: rgb(44, 170, 211);
    grid-column: 2/4;
}

.item4{
    background-color: rgb(77, 77, 250);
}

.item5{
    background-color: rgb(77, 77, 250);
}

.item6{
    background-color: rgb(85, 85, 184);
    grid-column: 1/4;
}