.container{
    width: 500px;
    height: 200px;
    background-color:rgb(13, 222, 222);
    display: flex;
}
.box{
    margin: auto;
    align-items: center;
    width: fit-content;
    padding:5px 20px;
    border: 1px solid;
    border-radius: 30px;
    display: flex;
    gap: 15px;
    font-weight: 800;
    background-color:rgb(244, 240, 240);

}

.box a {
    text-decoration: none;
    color: rgb(24, 173, 232);


}

.ten {
    background-color: #0e8395;
    border-radius: 50px;

    padding: 5px;
}