body{
    background-color: azure;
}

ul{
    display: flex;
    padding: 5px;
    margin: 10px;
    background-color: rgb(42, 165, 149);
    list-style-type: none;

  li{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    color: white;
    justify-content: space-between;
    // height: 10px;
    // width: 1px;

    &:hover{
        color: skyblue;
        cursor: pointer;
        background-color: rgb(100, 100, 100);   
        transition: 0.5s;
    }
  }
}
