*{
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    margin: 50px 0px;
    background-color: #312903;
    margin-top: auto;
    margin-bottom: auto;
}
p{
    color: white;
    /* font-weight: 900; */
    /* align-self: center; */
}
.div ul{
    display: inline;
    display: flex;
}
.div ul li{
    color: #fff;
    display: inline;
    align-self: center;
    padding: 6px 15px;
    margin: 0px 5px;
}
.contact{
    /* background-color: #1392a4; */
    /* border-radius: 20px;
    padding: 5px 15px 6px !important; */

}

 .pic{
  background-image: url(../image/photo-1494783367193-149034c05e8f.avif) !important;
  background-repeat: no-repeat;
  background-position: auto;
  padding: 400px;
  text-align: center;
  color: rgb(20, 15, 3); 
  position: top;
   z-index: 2; 
   opacity: 0.5; 
}  

/* .pic:hover{
    color: chocolate;
} */
.button{
    border: none;
    color: rgb(22, 17, 2);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
}
.button {
    background-color: #194a97;
    color: white;
  }