.color{
    color: rgb(155, 226, 226);         /*using rgb value*/
    color: red;                        /*using color name*/
    color: #000000;                    /*using hexadecimal color*/
}


/* background color */

.bgcolor{
    background-color: blue;
}

/* border */

.border{
    background-color: black;
    height: 100px;
    width: 100px;
}

/* border */
.border{
    color: white;
    border-width: 10px;
    border-style: double;
    border-color: red;
}

/* multiple border apply */

.multipleborder{
    border-top: 2px solid red;
    border-right: 2px solid blue;
    border-bottom: 2px solid green;
    border-left: 2px solid yellow;
    background-color: black;
    height: 100px;
    width: 100px;
}

/* border radius apply */
.radius{
   color: white;
   background-color: black;
   height: 100px;
   width: 100px;
   border: 2px solid blue;
   border-radius: 20px;

}